.calendar__count {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;

  background: #50CAFF;

  border-radius: 50%;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;

  margin: 0;
  margin-left: auto;
  padding: 0;
}
