.nav__link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;

  margin: 0;
  padding: 14px 20px;

  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: #fcfcfc;
    color: #7761ff;
  }

  & svg {
    fill: #ffffff;
    margin-right: 14px;
  }

  &:hover svg {
    fill: #7761ff;
  }
}
