.appointment__button {
  width: 98px;
  height: 40px;

  background: #7761FF;
  border-radius: 5px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  cursor: pointer;
}
