.medical-card__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 133px;
  height: 100%;
  min-height: 183px;
  box-sizing: border-box;

  padding: 0 47px;
}
